    *{
        padding: 0;
        margin: 0;
    }
    body{
        width: 50%;
    }
    .chat_commento{
         
        width: 92%;
        margin: 1%;
        position: absolute;
        height: 92%;
        border-radius: 10px;
        border-style: solid;  
        border-width: 1.2px; 
        box-shadow: 0px 0px 5px #00afee; 
        border-color: #4e81bb
        
    }

    .clearfix::after{
        content: "";
        display: block;
        clear: both;
        width: 0;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
    /* top */
    .chat_top{
        width: 100%;
        height: 6%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #55c0ea;
      
        box-sizing: border-box;
        font-weight: bold;
        letter-spacing: 5px; /* 设置字间距 */

        border-width: 2px;
       
        padding-bottom: 5%;
    }
    .chat_top span{
        margin-left: 5%;
        font-size: 16.5px;
        padding-bottom: 55px;
    }

    #auzre-bot-icon {
        font-size: 28px;
        color: #55c0ea;
        animation: bounce 2.5s infinite; /* 添加动画效果 */
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(2px); /* 初始和结束位置 */
        }
        50% {
            transform: translateY(5px); /* 中间位置 */
        }
    }
    /* middle */
    /* 左边 */
    .chat_middle{
        width: 100%;
        height: 73%;
    
        box-sizing: border-box;
        overflow:auto;
        border-width: 0px;
    }

        /* 设置滚动条宽度和颜色 */
    .chat_middle::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    /* 设置滚动条轨道背景颜色 */
    .chat_middle::-webkit-scrollbar-track {
        background-color: transparent;
    }

    /* 设置滚动条 thumb 颜色 */
    .chat_middle::-webkit-scrollbar-thumb {
        background-color: #2e59a7;
        border-radius: 6px;
        border: 3px solid #2e59a7; /* 可以创建外边框效果 */
    }

    /* 悬停时滚动条 thumb 颜色 */
    .chat_middle::-webkit-scrollbar-thumb:hover {
        background-color: #2e59a7;
    }


    .chat_left_item_2{
        width: 100%;
        height: 30px;
        float: left;
        margin-top: 15px;
    }
    .chat_left_time{
        width: 100%;
        height: 100%;
        text-align: left;
    }
    .chat_left_content{
       
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
        position: relative;
        max-width: 100%;
        height: 100%;
        display: inline-block;
        white-space: pre-wrap;
        border-top-left-radius: 0px;
        background-color: transparent; /* 设置背景颜色为透明 */
        border: 1.5px solid #2e59a7; 

        color: white;
    }

    .chat_right_item_2{
        width: 100%;
        height: 30px;
        float: right;
        margin-top: 15px;
    }
    .chat_right_time{
        width: 100%;
        text-align: right;
        color: #b5caf1;
    }
    .chat_right_content{
       
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
        position: relative;
        max-width: 100%;
        height: 100%;
        background-color: #f4f5f7;
        display: inline-block;
        white-space: pre-wrap;
        border-top-right-radius: 0px;
        background-color: transparent; /* 设置背景颜色为透明 */
        border: 1.5px solid #2e59a7; 
        color: white;
    }
    /* foot */
    .chat_foot{
        width: 100%;
        height: 20%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
    }


    .chat_context{
        width: 100%;
        height: 100%;
        font-size: 17px;
        box-sizing: border-box;
        outline: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #1cc45200;
        color:#ebf9fe;
        border-width: 1px;
        padding: 16px;
    }
    /* .chat_commit{
        width: 15%;
        height: 25%;
       
        line-height: 3px;
     
        position: absolute;
  
    } */

    .chat_commit {
        width: 12%;
        height: 30%;
        top:48%;
        left:85%;
        line-height: 3px;
     
        position: absolute;
        letter-spacing: 5px;
        color: #fff;
        padding: 5px 15px 5px 18px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        
        outline: none;
        border-radius: 5px;
        border: none;
        background-size: 120% auto;
        background-image: linear-gradient(315deg, #2f377e 0%, #1d6cb1 75%);
      }
      .chat_commit:hover {
        background-position: right center;
      }
   

    /* 设置滚动条宽度和颜色 */
    .chat_context::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    /* 设置滚动条轨道背景颜色 */
    .chat_context::-webkit-scrollbar-track {
        background-color: transparent;
    }

    /* 设置滚动条 thumb 颜色 */
    .chat_context::-webkit-scrollbar-thumb {
        background-color: #2e59a7;
        border-radius: 6px;
        border: 3px solid #2e59a7; /* 可以创建外边框效果 */
    }

    /* 悬停时滚动条 thumb 颜色 */
    .chat_context::-webkit-scrollbar-thumb:hover {
        background-color: #2e59a7;
    }

    .chat_context{
        resize: none;
    }
  
    textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
        color: rgb(220, 228, 235);
    }
    textarea::-ms-input-placeholder { /* Edge */
        color: rgb(220, 228, 235);
    }
    .line{
        width: 99.7%;
        border-top: 1px;
        border-style: solid;  
        border-width: 1.2px;      
    
        box-shadow: 0px 0px 5px #00afee;
        
        border-color: #4e81bb
    }